@inherits SSSEditor.PairListPageBase

<!DOCTYPE html>

<html>
<head>
    <title>SSS Editor Demo Page</title>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
        var icons = [@Raw(Model.iconsJSON)][0];

        $(function () {
            $("#pairDefinitions img.icon").each(function (i, e) {
                var iconId = +$(e).parents("tr").find("input.iconID").val();
                e.src = "data:image/png;base64," + icons[iconId];
            });

            $("input.iconID").change(function () {
                var iconId = parseInt($(this).val(), 16);
                $(this).parents("tr").find("img.icon").attr("src", "data:image/png;base64," + icons[iconId]);
            });

            $("input.stageID").change(function () {
                var stageId = parseInt($(this).val(), 16);
                $(this).parents("tr").find("select.stagename").val(stageId);
            });

            $("select.stagename").change(function () {
                var stageId = $(this).val();
                var str = (+stageId).toString(16);
                if (str.length == 1) str = "0" + str;
                $(this).parents("tr").find("input.stageID").val(str);
            });
        });
    </script>
    <style type="text/css">
        .stageID, .iconID {
            width: 48px;
        }
    </style>
</head>
<body>
    <table id="pairDefinitions">
        @{
            int index = 0;
        }
        @foreach (SSSEditor.ModelPair pair in Model.pairs) {
            <tr>
                <td>
                    <img width="64" height="56" class="icon" />
                </td>
                <td>
                    <span class="index">@(index++).</span>
                    <select class="stagename">
                        @foreach (BrawlManagerLib.StageIDMap.Stage stage in BrawlManagerLib.StageIDMap.Stages) {
                            if (stage.ID == pair.stage) {
                                <option label="@stage.PacBasename" value="@stage.ID" selected></option>
                            } else {
                                <option label="@stage.PacBasename" value="@stage.ID"></option>
                            }
                        }
                    </select>
                    <br />
                    <input class="stageID" value="@pair.stage.ToString("X2")" />
                    <input class="iconID" value="@pair.icon.ToString("X2")" />
                </td>
            </tr>
        }
    </table>
</body>
</html>